@import './../../../shared/styles/simpleBar-gallery.scss';

.father-container {
  padding: 30px 0px;
}
.c-flags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  &__img {
    width: 100%;
    object-fit: contain;
  }

  &__title {
    text-align: center;
    padding: 24px 0px;
    font-size: 14px;
    font-stretch: normal;
    font-weight: lighter;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
  }
}
