@import './../../../shared/styles/simpleBar-details.scss';

.main-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.c-main {
  background-color: black;
}

@keyframes float {
    0% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
/* 	50% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	} */
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.c-details__image{
    height: 270px;
    margin:30px 0px;
    animation: float 2s linear;
    border-radius: 2px;
    border: 1px solid white;
}

.c-details__name {
  font-size: 28px;
  font-weight: 300;
  color: white;
  margin-bottom: 30px;
}

.c-div__title {
  font-size: 18px;
  text-decoration: underline;
  font-weight: 300;
  color: white;
}

.c-main__houseFlag{
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;

}


.c-div__title{
    font-size: 18px;
    font-weight: 300;
    color: white;
}

.c-details__ul__li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
  margin: 20px 0px;

  @media screen {
  }
}


