::ng-deep .simplebar-track.simplebar-vertical {
    top: 0;
    width: 4px !important;
    margin-left: 5px !important;
    border-radius: 10px;
    background-color: #443d3d;
  }
  
  ::ng-deep .simplebar-scrollbar {
    top: 0;
    border-radius: 10px;
    background-color:   rgb(255, 255, 255);
  }
  
  ::ng-deep .simplebar-track.simplebar-vertical .simplebar-scrollbar:before{
    top: 0px;
    bottom: 2px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
  }