@import "~bootstrap/scss/functions";

@import "~bootstrap/scss/variables";

@import "~bootstrap/scss/mixins/breakpoints";
.b-footer {
  display: flex;
  height: 15vh;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);


  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__links {
    color: rgb(255, 255, 255);
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    line-height: normal;
    letter-spacing: normal;
    @include media-breakpoint-down(lg) {
      font-size: 24px;
    }
    @include media-breakpoint-down(md) {
      font-size: 18px;
    }
    &:hover {
      text-decoration: underline;
    }
    &--active {
      text-decoration: underline;
    }
  }
}
